---

import Scroller from "./Scroller.astro";

interface Props {

};

const {} = Astro.props;

const ab = [
    "Frondend Developper", "Backend Js Web developper","Fullstack Js web developper"
]
---

<header class="min-h-lvh w-full p-4 flex flex-wrap-reverse justify-center items-center">

    <section class="text-2xl w-full md:w-2/3">
        <p>Hey, Welcome to my Portfolio.</p>
        <div>
            I am a 
            <h1>FULL STACK</h1>
            web developper with 2+ years of experience.
        </div>
    </section>

    <img src=""alt="my" />
</header>