---
interface Props {
    list: string[];
}

const { list } = Astro.props;
---

<ul id="scrolling" class="inline-block h-8 overflow-y-auto scroll-smooth">
    {list.map((item) => <li>{item}</li>)}
</ul>

<style>
    ul::-webkit-scrollbar {
        display: none;
    }

    ul {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    li {
        @apply h-8 text-left;
    }
</style>

<script is:inline>
const sc = document.querySelector("#scrolling");
var counter = 0;

setInterval(() => {
    sc.scrollBy({ top: counter , left: 100, behavior: "smooth" });
    if (counter > 0) {
        counter = 0;
    } else {
        counter++;
    }
}, 2000);
</script>
