

<main class="flex flex-col gap-5 items-center justify-center md:flex-row min-h-screen w-full bg-zinc-800 dark:bg-zinc-950 text-gray-300 p-4">

    <section class="w-full md:w-1/3 md:max-w-sm">
        <label>
            skills <input type="radio" name="abilities" value="skills" checked />
        </label>

        <label>
            experiences <input type="radio" name="abilities" value="experiences" />
        </label>

        <label>
            education <input type="radio" name="abilities" value="educations" />
        </label>

    </section>

    <section class="skills">
        <h2>Skills</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis deserunt dolorum beatae repellendus natus. Accusantium minus reprehenderit sed dicta nisi ipsa repudiandae id! Eos nobis impedit tempore consequuntur, beatae quia.


        <h4 class="animate-bounce">Soft Skills</h4>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, consequuntur! Hic veritatis optio ea placeat sed a facilis, harum earum amet natus illum iste culpa quaerat fuga nesciunt, sequi assumenda!


        <h4 class="animate-bounce">Frameworks</h4>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio voluptatibus illo nihil cumque, illum ratione harum possimus quaerat esse nesciunt eveniet placeat deleniti ab quis quod itaque totam consectetur eligendi.
    </section>
 
    <section class="experiences animate-pulse">
        <h2>Experiences</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure beatae aspernatur nesciunt blanditiis accusantium consequuntur id commodi, laudantium distinctio nulla necessitatibus eligendi odit, unde repellat officia voluptatem nostrum dolorum amet?
        </p>

        <h3>Professional</h3>

        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum ullam tempora provident accusamus! Nulla quaerat, praesentium odit, mollitia ut neque temporibus at laborum dolorem, et provident fugit laboriosam adipisci recusandae!
        </p>

        <h3>Academics</h3>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam consectetur itaque saepe provident repudiandae, est vero corrupti harum sed sequi nam veritatis amet, odit enim blanditiis voluptatum, ipsam dolore sit.
        </p>
    </section>

    <section class="educations">
        <h2>Education</h2>

        <h3>University of Buea</h3>

        <h4>BS.c</h4>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, aliquam ratione nostrum ducimus cum quibusdam. Harum facilis fuga facere eligendi omnis, sequi illum optio. Voluptates recusandae molestiae ab possimus ullam!
        </p>

        <h3>Boot Camp</h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit, in impedit placeat eveniet sequi quibusdam dicta repellendus nemo a omnis aperiam accusantium eligendi, ea ab pariatur, corrupti temporibus quidem libero!
        </p>
    </section>

</main>

<style>
    .skills, .experiences, .educations {
        @apply hidden w-full md:w-2/3 lg:max-w-xl flex-col gap-4;
    }

    section {
        @apply flex flex-col 
    }

    main:has(input[value="skills"]:checked) .skills,
    main:has(input[value="experiences"]:checked) .experiences,
    main:has(input[value="educations"]:checked) .educations {
        @apply flex
    }




</style>