---
import PageLayout from "../layouts/PageLayout.astro";

const title = "Home Page";
const description = "Welcome page"
---

<PageLayout title={title} description={description}>
	<h1 class="text-3xl">Astro</h1>
</PageLayout>
