---
import Social from "./Social.astro";
---

<footer class="flex flex-col justify-center items-center gap-1">

    <section>
        You can also get to me through:
    </section>

    <Social />

    <h1 class="italic text-2xl font-extrabold">nthdrien</h1>

    <small class="text-center mx-auto">
        &copy; Copyright 2024. Designed &amp; Coded by nthadrien.
    </small>
    
</footer>