---
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<nav
    class="flex flex-wrap md:h-fit md:flex-nowrap justify-between items-start h-fit p-2 container larger sticky top-0 z-30 backdrop-blur-sm"
>
    <h1 class="text-2xl italic">
        nthadrien ~

        <ThemeSwitcher />
    </h1>

    <section class="flex justify-end items-center gap-4 md:gap-8">

        <label
            class="h-10 w-10 flex flex-col justify-center items-center md:hidden"
        >
            <input
                class="w-7 appearance-none h-1
                before:content-[''] before:h-1 before:w-7 before:bg-green-300
                after:content-[''] after:w-7 after:h-1 after:bg-red-300"
                type="checkbox"
                name="hamb"
            />
        </label>
    </section>

    <aside
        class="flex flex-col justify-center items-center overflow-hidden w-full h-0 left-0 top-0
            md:flex-row gap-6 md:translate-x-0 md:h-fit md:w-fit md:static"
    >
        <a href="/projects"> Projects</a>
        <a href="/#skills">Skills</a>
        <a href="/#about"> About Me</a>
        
        <a href="#contacts" class="btn"> Get to Me</a>
    </aside>
</nav>

<style>
    nav:has(input:checked) {
        @apply  h-screen text-inherit z-30 md:h-fit;
    }

    nav:has(input:checked) aside {
        @apply h-fit font-semibold md:font-normal
    }
</style>
